:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;  
}

input {
    border: 0;
    margin: 15px;
    outline: none;
    font-size: var(--font-size-5);
    padding: 10px 15px;
    border-radius: 4px;
    background: var(--color-blue-2);
    max-width: 400px;
    width: 100%;
    color: var(--color-black-1);
}

input::placeholder {
    color: var(--color-black-3);
}