ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

ul li {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-black-3);
    border-radius: 4px;
    margin: 5px 0;
    background: var(--color-black-1);
    padding: 10px 15px;
    min-height: 40px;
    position: relative;
}

ul li:hover {
    background: var(--color-black-3);
    border: 1px solid var(--color-blue-1);
}

ul li a {
    text-decoration: none;
    color: var(--color-black-0);
    font-size: var(--font-size-5);
    width: 100%;
    margin-left: 5px;
    
}

ul li a.task-completed {
    text-decoration: line-through;
}

ul li .button-box {
    position: absolute;
    right: 7px;
}

ul li .button-box button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

form {
    display: flex;
    width: 100%;
    border: 1px solid var(--color-black-3);
    height: 40px;
    border-radius: 4px;
    margin: 5px 0;
}

form input {
    border: 0;
    background: var(--color-black-1);
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px 0 0 4px;
    font-size: var(--font-size-5);
}

form input:focus {
    outline: none;
}

form button {
    background: var(--color-black-1);
    color: var(--color-blue-1);
    padding: 0px 15px;
    border-radius: 0 4px 4px 0;
    font-size: var(--font-size-3);
    cursor: pointer;
}